{% extends 'base.html' %}
{% block content %}
<div>
	<section id="team" class="team section-bg">
		<div class="container aos-init aos-animate" data-aos="fade-up">
		<center>
			<div class="section-title">
				<h2 style="font-size: 32px;
								  font-weight: bold;
								  text-transform: uppercase;
								  position: relative;
								  color: #37517e;">Team</h2>
				<p>We all are student of Bankura Unnayani Institute of Engineering,currently we are in final year.We make this website to help many students.</p>
			</div>
		</center>


		<div class="row">

			<div class="col-lg-6">
				<div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
					<div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
					<div class="member-info">
						<h4>Suman Mandal</h4>
						<span>Department of Computer Science & Engineering</span>
						<p></p>
						<div class="social">
							<a href="https://www.facebook.com/profile.php?id=100048154012595"><i class="icon ion-social-facebook"></i></a>
							<a href="https://github.com/suman1buie"><i class="icon ion-social-github"></i></a>
							<a href="https://suman.buie.cpp@gmail.com"><i class="icon ion-social-googleplus"></i></a>
							<a href="https://www.linkedin.com/in/suman-buie/"><i class="icon ion-social-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 mt-4 mt-lg-0">
				<div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
					<div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
					<div class="member-info">
						<h4>Amit Kabi</h4>
						<span>Department of Computer Science & Engineering</span>
						<p></p>
						<div class="social">
							<a href="https://www.facebook.com/amitkabi.cs/"><i class="icon ion-social-facebook"></i></a>
							<a href="#"><i class="icon ion-social-github"></i></a>
							<a href="#"><i class="icon ion-social-googleplus"></i></a>
							<a href="https://www.linkedin.com/in/amit-kabi-61200b17b/"><i class="icon ion-social-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 mt-4">
				<div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
					<div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
					<div class="member-info">
						<h4>Amit Goswami</h4>
						<span>Department of Computer Science & Engineering</span>
						<p></p>
						<div class="social">
							<a href="https://www.facebook.com/profile.php?id=100051303729175"><i class="icon ion-social-facebook"></i></a>
							<a href="#"><i class="icon ion-social-github"></i></a>
							<a href="#"><i class="icon ion-social-googleplus"></i></a>
							<a href="https://www.linkedin.com/in/amit-goswami-9b8b331b4"><i class="icon ion-social-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 mt-4">
				<div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
					<div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
					<div class="member-info">
						<h4>Tapas Pal</h4>
						<span>Department of Computer Science & Engineering</span>
						<p></p>
						<div class="social">
							<a href="https://www.facebook.com/profile.php?id=100024860477361"><i class="icon ion-social-facebook"></i></a>
							<a href="#"><i class="icon ion-social-github"></i></a>
							<a href="#"><i class="icon ion-social-googleplus"></i></a>
							<a href="https://www.linkedin.com/in/tapas-pal-1abb5b215"><i class="icon ion-social-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
</div>

        <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Bankura%20Unnayani%20Institute%20of%20Engineering,Subhankar%20Nagar,%20Pohabagan,%20Bankura,%20West%20Bengal%20722146+(Bankura%20Unnayani%20Institute%20of%20Engineering)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
        <div id="page-contents">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-10 col-md-offset-1">
                <div class="contact-us">
                	<div class="row">
                		<div class="col-md-8 col-sm-7">
                      <h4 class="grey">Leave a Message</h4>
                      <form class="contact-form">
                        <div class="form-group">
                          <i class="icon ion-person"></i>
                          <input id="contact-name" type="text" name="name" class="form-control" placeholder="Enter your name *" required="required" data-error="Name is required.">
                        </div>
                        <div class="form-group">
                          <i class="icon ion-email"></i>
                          <input id="contact-email" type="text" name="email" class="form-control" placeholder="Enter your email *" required="required" data-error="Email is required.">
                        </div>
                        <div class="form-group">
                          <i class="icon ion-android-call"></i>
                          <input id="contact-phone" type="text" name="phone" class="form-control" placeholder="Enter your phone *" required="required" data-error="Phone is required.">
                        </div>
                        <div class="form-group">
                          <textarea id="form-message" name="message" class="form-control" placeholder="Leave a message for us *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                        </div>
                      </form>
                      <button class="btn-primary">Send a Message</button>
                    </div>
                		<div class="col-md-4 col-sm-5">
                      <h4 class="grey">Reach Us</h4>
                      <div class="reach"><span class="phone-icon"><i class="icon ion-android-call"></i></span><p>03242 255 955</p></div>
                      <div class="reach"><span class="phone-icon"><i class="icon ion-email"></i></span><p>contact@buiespace.in</p></div>
                      <div class="reach"><span class="phone-icon"><i class="icon ion-ios-location"></i></span><p>Bankura Unnayani Institute of Engineering,Pohabagan,Bankura,West Bengal,722146</p></div>
                      <ul class="list-inline social-icons">
                        <li><a href="https://www.facebook.com/Buie.Bankura"><i class="icon ion-social-facebook"></i></a></li>
                        <li><a href="https://www.buie.ac.in/"><i class="icon ion-social-googleplus"></i></a></li>
                        <li><a href="https://www.linkedin.com/school/bankura-unnayani-institute-of-engineering-105/"><i class="icon ion-social-linkedin"></i></a></li>
                      </ul>
                    </div>
                	</div>
                </div>
              </div>
        		</div>
        	</div>
        </div>
{% endblock  %}
