{% extends 'base.html' %}
{% block content %}
<h1 style="text-align:center" >Edit Profile</h1>
<div
style="display:flex;justify-content:center;width:100%;padding:10px;"
>
  <div style="margin-bottom:40px;box-shadow:15px 15px 15px 10px gray; padding:10px; display:flex;justify-content:center;width:50%;height:70%;background-color:#e6e1bc">
    <form method="POST" enctype="multipart/form-data">
     {% csrf_token %} 
        {% for f in form %}
          {{f.label_tag}}     {{f}} {{f.errors|striptags}} <br> <br>
        {% endfor %}
    <input class="btn-primary" type="submit" value="submit">
    <h6><a href="/collageapp/profile/{{user.id}}">back</a></h6>
    </form>
  
  </div>

</div>

{% endblock %}