{% extends 'base.html' %}
{% block content %}
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img style="height:610px;width:100%;  object-fit: cover;" src="/static/images/imgp.jpg" alt="Chania">
      <div class="carousel-caption">
        <h3>Facatilites Avilable</h3>
        <p>The main objective of our Project is to Provide a healthy environment where
a user can create his/her Profile and get class notes , routine , previous year
question paper also student or teacher can post article. Our website will
provide a platform where a user can post educational article.</p>
      </div>
    </div>

    <div class="item">
      <img style="height:610px;width:100%;  object-fit: cover;
      " src="/static/images/buie1.jpeg" alt="Chicago">
      <div class="carousel-caption">
        <h3>Facatilites Avilable</h3>
        <p>The main objective of our Project is to Provide a healthy environment where
a user can create his/her Profile and get class notes , routine , previous year
question paper also student or teacher can post article. Our website will
provide a platform where a user can post educational article.</p>
      </div>
    </div>

    <div class="item">
      <img style="height:610px;width:100%;  object-fit: cover;" src="/static/images/buie2.jpeg" alt="New York">
      <div class="carousel-caption">
        <h3>Facatilites Avilable</h3>
        <p>The main objective of our Project is to Provide a healthy environment where
a user can create his/her Profile and get class notes , routine , previous year
question paper also student or teacher can post article. Our website will
provide a platform where a user can post educational article.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <section id="banner-index"style="min-height:600px;">
            <div class="homepage " style="width:100%;min-height:600px;">
              <h1 class="text-black " style="text-align: center;">WELCOME TO BUIESPACE</h1>
            <h3 class="text-white" style="text-align: center;padding : 10px 40px;">
              BUIE SPACE is a web based concept which aims to provide the students
              with the access to a Platform where they can create a educational content and
              get study material from it. Through this project we try to solve a problem of
              Indian students ,this is the all in one site where any students can get college
              notice,routine,classs notes and he/she can post any query on article section. It
                will be very useful for all students.</h3>
          </div>

    </section> -->
<section id="banner">

    </section>
{% endblock  %}
 