{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center;">Study Material</h1>
  <div class="container" style="margin-top:30px; height:100%;">
    <h3 class='title' style="color:cadetblue"><center>{{subject.name}} ({{subject.subjectcode}})</center></h3>
        <div class="tab-pane " id="three" style="box-shadow: 8px 8px 5px lightgreen;">
            <div class="innerAll" style="margin-top:30px">
                </div>
                <div class="tabcontent innerT" style="margin-top:20px">
                	<table class="table table-hover table-responsive">
                        <tr>
                			<th width="60%">Chapter</th>
                			<th>Option</th>
                		</tr>
                        {% for note in notes %}
                            <tr>
                                <td>{{note.chapter}}</td>
                                <td><a href="{{note.notes.url}}" target="_blank" class='btn btn-primary'><span class='fa fa-download'></span> Download</a></td>
                            </tr>
                        {% endfor %}
                	</table>
                </div>
        </div>
    </div>
</div>
{% endblock  %}